<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ChordPro Viewer</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://omnibrain.github.io/svguitar/js/svguitar.umd.js"></script>
</head>
<body>
<div th:style="'display:flex; justify-content: space-around;'">
    <div id="BmChord" th:style="'width: 500px; height: 400px;'"></div>
    <div id="CmChord" th:style="'width: 500px; height: 400px;'"></div>
</div>
</body>

<script>
    // 함수 정의
    function drawChord(selector, chordData, configData) {
        var chord = new svguitar.SVGuitarChord(selector);

        chord
            .chord(chordData)
            .configure(configData)
            .draw();
    }

    // 공통 데이터
    const commonConfig = {
        orientation: 'horizontal',
        style: 'normal',
        strings: 6,
        frets: 4,
        fingerSize: 0.65,
        fingerColor: '#000',
        fingerStrokeColor: '#000000',
        fingerStrokeWidth: 2,
        barreChordStrokeColor: '#000000',
        barreChordStrokeWidth: 2,
        fretSize: 2,
        fontFamily: 'Open Sans, Arial, sans-serif',
        titleFontSize: 40,
        titleBottomMargin: 10,
        color: '#000000',
        backgroundColor: 'none',
        barreChordRadius: 0.5,
        emptyStringIndicatorSize: 0.5,
        strokeWidth: 2,
        nutWidth: 10,
        fixedDiagramPosition: false,
        fretLabelColor: '#000000',
        fretColor: '#000000',
    };

    // Bm 데이터
    const bmChordData = {
        fingers: [
            [2, 3],
            [3, 4],
            [4, 4],
            [6, 'x'],
        ],
        barres: [
            {
                fromString: 5,
                toString: 1,
                fret: 2,
                color: '#000000',
                className: 'Bm',
            },
        ],
        title: 'Bm',
        position: 1,
    };

    // Cm 데이터
    const cmChordData = {
        fingers: [
            [2, 3],
            [3, 4],
            [4, 4],
            [6, 'x'],
        ],
        barres: [
            {
                fromString: 5,
                toString: 1,
                fret: 2,
                color: '#000000',
                className: 'Cm',
            },
        ],
        title: 'Cm',
        position: 2,
    };

    // 정의된 함수에 Bm 데이터 넣어서 다이어그램 생성
    drawChord('#BmChord', bmChordData, {
        ...commonConfig,
        noPosition: false,
        svgTitle: '커스텀 기타코드 Bm',
    });

    // 정의된 함수에 Cm 데이터 넣어서 다이어그램 생성
    drawChord('#CmChord', cmChordData, {
        ...commonConfig,
        noPosition: true,
        watermark: "3" + '\u00A0'.repeat(10),
        watermarkFontSize: 35,
        svgTitle: '커스텀 기타코드 Cm',
    });
</script>
</html>
